/* CSS Document */
.body{
	height: 700px;
	background: url("img/bg-masthead.jpg");
	align-items: center;
	justify-content: center;
	display: flex;
}
.form-control{
	height: 40px;
	width: 600px;
}
.build{
	width: 800px;
}
.icon{
	font-size: 500%;
	color: blue;
}
.menu{
	padding-top: 100px;
	padding-bottom: 100px;
}
.row{
	display: flex;
	align-items: center;
	justify-content: center;
}
.anh{
	height: 600px;
	background: url("img/bg-showcase-1.jpg");

}
.anh2{
	height: 600px;
	background: url("img/bg-showcase-2.jpg");
}
.s{
	padding-left: 60px;
}
.anh3{
	height: 600px;
	background: url("img/bg-showcase-3.jpg");
}
.menu img{
	width: 200px;
	clip-path: circle(50% at 50% 50%);
}
.body2{
	height: 400px;
	align-items: center;
	justify-content: center;
	background: url("img/bg-masthead.jpg");
	background-repeat: no-repeat;
	background-position: center 50%;
	display: flex;
}
.signin{
	height:40px;
}
.icon2{
	font-size: 300%;
	color: blue;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 40px;
}
.footer{
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 150px;	
}